h1 {
    font-family: 'Knewave';
    text-align: center;
    margin-top:5%;
}

h3 {
    font-family: 'Knewave';
    text-align: center;
}

body {
    /* background-image: url(../images/pink\ dust.png); */
    background-image: url(../images/stardust_@2X.png);
}

img {
    display: inline-block;
    align-content: center;

}

hr {
    opacity: 50%;
    margin: 3% 0 3% 0;
}

.mx-auto {
    height: auto;
}